

        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">MALNIET STORE</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Trang web của cửa hàng Malniet Store, cung cấp tất cả các sản phẩm nội thất</h2>
                    <a class="btn btn-primary js-scroll-trigger" href="#/sanpham">Xem sản phẩm</a>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">Sofa cao cấp</h2>
                        <p class="text-white-50">
                            Bộ ghế Sofa cao cấp được nhập khẩu từ Nhật Bản 
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="../../../assets/img/sofa-cao-cap.jpg" alt="" />
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../../../assets//img/den-trang-tri.png" alt="" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h1>Đèn trang trí dành cho phòng khách</h1>
                            <h3><p class="text-black-50 mb-0">Dòng đèn trang cao cấp được nhập khẩu từ Nhật Bản</p></h3>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="../../../assets/img/tu-quan-ao.png" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-blue text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h1 class="text-white">Tủ quần áo</h1>
                                    <h3><p class="mb-0 text-white-50">Tổng hợp các mẫu tủ quần áo nhập khẩu từ Hàn Quốc</p></h3>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="assets/img/nha-bep.jpg" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-blue text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h3 class="text-white">Nội thất nhà bếp</h3>
                                    <h3><p class="mb-0 text-white-50">Mẫu nội thất nhà bếp mới </p></h3>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <h2 class="text-white mb-5">Để lại địa chỉ email để nhận được những thông tin mới nhất về các mặt hàng nội thất</h2>
                        <form class="form-inline d-flex">
                            <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email" placeholder="Vui lòng nhập địa chỉ Email ..." />
                            <button class="btn btn-primary mx-auto" type="submit">Theo dõi</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>